article {
    background-color: lightskyblue;
}
article > h1 {
    color:;
}

article h1 {
    color: ;
}

img {
    width: 200px;
    
}

td,th,
table {
    border: solid gray 1px;
    border-collapse: collapse;
    padding: 8px;
}

tbody tr:nth-child(odd) { 
    background-color: lightgreen;
}

tbody tr:nth-child(even) { 
    background-color: lightyellow;
}

thead {
    background-color: lightcyan;
}
